<div class="card mt-3">
  <div class="card-header">
    <div class="float-start">
      <h4>Materias</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table  table-hover" *ngIf="(materias$ | async) as materiash; else loading">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Sigla</th>
          <th>Turno</th>
          <th>N Aulas</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materiash">
          <td>{{materia.codigo}}</td>
          <td>{{materia.nome}}</td>
          <td>{{materia.sigla}}</td>
          <td>{{materia.turno}}</td>
          <td>{{materia.numAulas}}</td>
          <td>

            <span class="float-end">
              <button class="btn btn-outline-info mb-1 btn-sm" (click)="onClikTabela(materia)">
                Notas
              </button>
            </span>
            <span class="float-end" style="padding-right: 1px;">
              <button class="btn btn-outline-info mb-1 btn-sm" (click)="onClikTabelaFaltas(materia)">
                Faltas
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
