<div class="card mt-3">
  <div class="card-header">
    <div class="float-start">
      <h4>Aluno</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Aluno</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table  table-hover" *ngIf="(alunos$ | async) as alunosh; else loading">
      <thead>
        <tr>
          <th>Ra</th>
          <th>Aluno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunosh">
          <td>{{aluno.ra}}</td>
          <td>{{aluno.nome}}</td>
          <td>
            <span class="float-end">
              <button class="btn btn-outline-info mb-1 btn-sm " (click)="onMatricula(aluno)">
                Matricular
              </button>
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(aluno)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(aluno)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #deliteModel>
  <div class="modal-body text-center">
    <p>Comfirma deletar?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
